{% if include.translate_langs %}
  {% assign translate_langs = include.translate_langs %}
{% endif %}

{% if include.lang %}
  {% assign lang = include.lang %}
{% endif %}

<div id="google_translate_element" style="display: none;">
</div>

<div class="ct-language">
  <ul class="list-unstyled ct-language-dropdown">
    {% for item in translate_langs %}
      <li>
        <a href="#" class="lang-select" data-lang="{{ item.lang }}">
          {% if item.img %}
          <img src="{{ item.img }}" title="{{ item.text }}">
          {% else %}
            {{ item.text }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'zh-TW',
      includedLanguages: 'en,ja',
      autoDisplay: false,
      layout: google.translate.TranslateElement.InlineLayout.VERTICAL
    }, 'google_translate_element');

    var lang = localStorage.getItem('google_lang');
    if (lang) {
      var checkCombo = setInterval(function() {
        var select = document.querySelector('select.goog-te-combo');
        if (select) {
          clearInterval(checkCombo);
          if (select.value !== lang) {
            select.value = lang;
            select.dispatchEvent(new Event('change'));
          }
        }
      }, 100);
    }
  }

  var langSelect = document.querySelector('.ct-language');
  langSelect.addEventListener('click', function(event) {
    var target = event.target.closest('.lang-select');
    if (target) {
      event.preventDefault();
      var lang = target.getAttribute('data-lang');
      
      // Clear all Google Translate cookies to ensure a clean state
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf('=');
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        if (name.trim().startsWith('googtrans')) {
          document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT;domain=' + window.location.hostname + ';path=/';
          document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/'; // Fallback for localhost
        }
      }
      
      if (lang === 'zh-TW') {
        localStorage.removeItem('google_lang');
      } else {
        localStorage.setItem('google_lang', lang);
      }
      
      // Reload the page to apply changes
      location.reload();
    }
  });
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" async></script>