/* 這檔只放變數覆寫，愈少愈安全 */
$background-color: #f9f6ef !default;   // 全站亮色背景
$header-bg       : #f9f6ef !default;   // 捲軸後固定導覽列背景（若主題有這變數）
$theme-color     : #f9f6ef !default;   // 主題色（白色）
$brand-color     : #FF5449;   // 品牌色（橘色）
$card-background-color: #f9f6ef; // 首頁文章卡片背景
