{% if include.params.article %}
  {% assign article = include.params.article %}
{% endif %}

{% if include.params.lang %}
  {% assign lang = include.params.lang %}
{% else %}
  {% assign lang = lang | default: site.lang | default: "en" %}
{% endif %}

{% if include.params.speed %}
  {% assign speed = include.params.speed %}
{% else %}
  {% assign speed = 160 %}
{% endif %}

{%- include functions.html func='get_article_words' -%}
{% assign words = return %}

{% assign total_mins = words
  | divided_by: speed
  | at_least: 1 %}

{% assign hours = total_mins | divided_by: 60 %}
{% assign mins = total_mins | modulo: 60 %}

{%- if lang == "zh-TW" or lang == "zh" -%}
  {% assign return = "約 " | append: total_mins | append: " 分鐘" %}
{%- elsif lang == "ja" -%}
  {% assign return = "約 " | append: total_mins | append: " 分" %}
{%- else -%}
  {% assign return = "About " | append: total_mins | append: " min" %}
  {% if total_mins > 1 %}
    {% assign return = return | append: "s" %}
  {% endif %}
{%- endif -%}
